<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codec.healthapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Home_Remedies_Pro">
            <intent-filter>
                <action android:name=".Home_Remedies_Pro" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Best_Food_Body_Wise">
            <intent-filter>
                <action android:name=".Best_Food_Body_Wise" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Rich_Food">
            <intent-filter>
                <action android:name=".Rich_Food" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="calculators.BMICalculatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="calculators.calorieCalculatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="calculators.WHRCalculatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="calculators.BodyFatCalculatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HomeRemediesSubCatDetails"
            android:parentActivityName=".Home_Remedies_Pro" />
        <activity
            android:name=".Body_parts_Detail"
            android:parentActivityName=".Best_Food_Body_Wise" />
        <activity android:name=".Health_Benefits_Activity" />
        <activity android:name=".Health_Benefits_Detail_Activity" />
        <activity android:name=".RichFoodDetailAcivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="webView.WebViewActivity"></activity>
    </application>

</manifest>